<style>
   h1{
	font-family:fantasy;
	color: blue;
	background-color: black;
}
h2{
	font-family: helvetica;
	color: yellow;
}
table{
	border-color: blue;
}
#Line{
	background-color: red;

}

</style>

